@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


/* ------------------------- RESPONSIVE ------------------------- */

@media screen and (max-width: 600px) {

    .navbar a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {

    .content,
    .features,
    .fitur,
    .news,
    .newsroom,
    .news-capt,
    .service,
    .info,
    footer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .features {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15%;
    }

    .fitur {
        height: 250px;
        width: 250px;
    }

    .jumbotron {
        flex-direction: column;
        flex: 50%;
        flex-wrap: wrap;
        padding-bottom: 15%;
    }

    .news {
        flex-direction: column;
        flex: 50%;
        flex-wrap: wrap;
        padding-bottom: 15%;
    }
}



/* ------------------------- * ------------------------- */

body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

* h1 {
    color: #2cc749;
    font-weight: 300px;
    text-align: center;
}

* h2,
h3 {
    color: #2cc749;
}

main {
    margin-top: 4%;
}


.content {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

/* ------------------------- NAVBAR ------------------------- */
header {
    top: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 10px 5px -6px rgba(57, 171, 43, 0.41);
    -webkit-box-shadow: 3px 10px 5px -6px rgba(57, 171, 43, 0.41);
    -moz-box-shadow: 3px 10px 5px -6px rgba(57, 171, 43, 0.41);
}

.navbar a {
    float: left;
    display: block;
    color: #2cc749;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    transition: background .3s;
}

.navbar .brand {
    max-width: 75px;
}

.navbar .icon {
    display: none;
}

.navbar a:visited {
    color: #2cc749;
}

.navbar a:hover {
    color: #FFFFFF;
    background-color: #2cc749;
    margin: 0px;
}

/* ------------------------- POP UP SIGN IN AND SIGN UP ------------------------- */

.popup {
    display: none;
    position: absolute;
    padding: 30px;
    width: 50%;
    top: 100px;
    left: 25%;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
}

.popup h3 {
    text-align: center;
    color: #038f31a1;
}

.popup #close {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px 10px;
    background: red;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

#black {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

.inputtext {
    width: 96.5%;
    padding: 10px;
    border: 1px solid #ddd;
    transition: .3s ease;
    margin-right: 10px;
}

.inputtext:focus {
    padding-left: 15px;
    border: 1px solid #2cc749;
    /*margin: 5px 0;*/
}

.inputtext.single {
    margin: 5px 0;
}

.dd {
    background: #eee;
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 7.5px;
    border: 1px solid #ddd;
}

#labelcheck {
    color: #000;
    font-size: 12px;
}

#poplogin .btn-masuk {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #2cc749;
    border: none;
}

#popregister .btn-masuk {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #2cc749;
    border: none;
}

/* ------------------------- JUMBOTRON ------------------------- */

.jumbotron {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, #48f167, #2cc749, #29ff50);
}

.jumbotron img {
    max-width: 500px;
}

.jumbotron .banner-pict {
    flex: 30%;
    background-color: #fff;
}

.jumbotron .banner-desc {
    flex: 70%;
}

.jumbotron .banner-desc h1 {
    color: #fff;
    font-size: 60px;
    padding-left: 100px;
    text-align: left;
    margin-top: 100px;
}

.jumbotron .banner-desc h2 {
    color: #fff;
    font-size: 35px;
    padding-left: 100px;
    line-height: 50px;
}

.banner-desc button {
    color: #2cc749;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-desc button:visited {
    color: #2cc749;
}

.banner-desc button:hover {
    box-shadow: inset 0 0 0 2px #2cc749;
}

/* ------------------------- FEATURES ------------------------- */

.features {
    display: flex;
    width: 90%;
    background-color: #fff;
    text-align: center;
    margin: 5%;
}

.content h1 {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.fitur {
    flex-grow: 1;
    background-color: #fff;
    box-shadow: 3px 3px 8px 2px #038f31a1;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
}

.fitur:hover {
    background-color: tomato;
}

.fitur-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

.fitur article {
    text-align: center;
    color: #2cc749;
}


/* ------------------------- NEWS ------------------------- */
.news {
    background-color: #ccffd5;
    width: 100%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.newsroom {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.news-pict img {
    max-width: 400px;
}

.news-capt {
    padding-left: 5%;
}

.news-capt h2 {
    font-size: 25px;
    color: #2cc749;
    margin-bottom: 5%;
}

.news-capt p {
    font-size: 20px;
    color: #2cc749;
    text-decoration: none;
    text-align: justify;
}

/* ------------------------- INFO / ASIDE ------------------------- */

.info {
    background-color: #2cc749;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.info img {
    max-width: 150px;
}

.info article h2,
h3 {
    text-align: left;
    color: #fff;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.info .store img {
    max-width: 150px;
    margin-left: 10%;
}

.nano {
    background-color: #2cc749;
}

.info .slice-third {
    margin-left: 28%;
}

.info .slice-third img {
    border-radius: 100%;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100px;
    max-height: 100px;
}


.info .slice-third img:hover {
    transform: scale(1.5);
}

.info .slice-third h3,
h4 {
    color: #fff;
    margin-right: 0px;
}

.nano .onepixel {
    border-top: 0.5% solid #fff;
    height: 0.5%;
    width: 85%;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ------------------------- CONTACT / FOOTER ------------------------- */

.contact {
    display: flex;
    background-color: #2cc749;
    width: 100%;
    color: white;
}

.half-left {
    margin-left: 7.5%;
    padding-top: 3%;

}

.half-right {
    margin-left: auto;
    order: 2;
    margin-right: 7.5%;
    padding-top: 2%;
}

.half-right img {
    max-width: 25px;
}

.contact h3 {
    color: white;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

footer p {
    color: #fff;
    font-size: 14px;
}